/*Variables*/
$fondo: #D0DCE9;
$primario: #004E7A;
$secundario: #F0A800;
$secundario_var: #f0a800c2;
$terciario: #FFFFFF;

/*Selector elemento*/
body {
  background: $fondo;
  margin-bottom: 2%;
  width: 100%;
  font-family: Sahitya !important;
  font-size: 1.75em !important;
}

/*Selector clase (Total de selectores = 1)*/
.menu {
  margin: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: right;
}

#resaltado {
  padding-bottom: 0 !important;
  border-bottom: solid $secundario 8px !important;
}

/*Selector descendente(1)*/
nav a {
  font-weight: bold !important;
  color: $primario !important;
}

.contenedor {
  margin: 1% 5% !important;
  display: flex;
  justify-content: space-between;
}

.perfil {
  width: 30%;
  height: fit-content;
  padding: 1.5% 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $primario;
  border-radius: 10px;

}

.perfil b,
.perfil p {
  display: flex;
  width: 100%;
  justify-content: left;
  color: $terciario;
  font-size: 0.9em;
}

.foto {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.texto {
  width: 65%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: $primario;
  font-weight: bold;

  .foto-responsive {
    width: 50%;
    display: none;
  }

  h1 {
    font-size: 55px;
    text-align: center;
    font-weight: bold;
  }

  .button {
    text-decoration: none;
    color: $primario;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    background: $secundario;
    padding: 1% 2%;
  }

  .button:hover {
    background: $secundario_var;
    padding: 1.3% 2.3%;
  }

  p {
    text-align: center;
  }

}

.redes {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
.red {
  margin: 5px 17px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $primario !important;

    a {
      text-decoration: none;
    }
  }
}
}

.experiencia{
  width: 65%;
  h1{
    margin: 0 auto;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: $terciario;
    background-color: $primario;
  }

  .lista {
    margin-top: 10px;
    li{
      strong{
        color:$primario;
        text-align: center;
      }

      font-size: 25px;
    }
    
    ol{
      li{
        font-size: 22px;
      }
    }

    small{
      margin-top: 20px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: smaller;
      font-weight: bold;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.banner{
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;

  h1{
    font-size: 64px;
    font-weight: bold;
    color: var(--p, #004E7A);
    
  }
}

table{
  font-size: 20px;
  img{
    width: 60%;
  }
}


@media (max-width: 900px) {
  .menu {
    justify-content: center;
  }

  nav {
    a {
      font-size: 0.8em !important;
      margin-bottom: 2%;
    }
  }

  .perfil {
    display: none;
  }

  .texto {
    width: 100%;

    .foto-responsive{
      display: block;
    }

    h1 {
      font-size: 45px;
    }

    p {
      font-size: 25px;
      text-align: justify;
    }
  }

  .redes {
    flex-wrap: wrap ;
  }

  .experiencia{
    width: 100%;
    
  }

  .banner{
    flex-direction: column;
    text-align: center;

    img{
      width: 80%;
    }

    h1{
      font-size: 35px;
    }
  }
}